# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cjh\Adversarial_Robustness\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
